{% extends 'base.html' %}


{% block header %}
    {% block title %}도서 목록 조회{% endblock %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-row justify-content-md-center">
            <form class="form-inline align-self-center" action="/book/info" method="post">
                <div class=" form-group ">
                    <label>Book's ISBN</label>
                    <input class="form-control col-auto" name="isbn" type="text" placeholder="Enter Book's ISBN" required />
                    <input class="btn btn-primary mb-2" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>


    <table class="table table-bordered table-striped table-hover">
        <tr>
            {% for col in table_head %}
                <th class="text-center">{{ col }}</th>
            {% endfor %}

        </tr>
        {% for item in items %}
            <tr>
                {% for i in range(length_item) %}
                    <td class="text-center">{{ item[i] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
