{% extends 'base.html' %}


{% block header %}
    {% block title %}사용자 목록 조회{% endblock %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-row justify-content-md-center">
            <form class="form-inline align-self-center" action="/user/info" method="post">
                <div class=" form-group ">
                    <label>User Name</label>
                    <input class="form-control col-auto" name="name" type="text"
                           placeholder="Enter User Name" required/>
                    <input class="btn btn-primary mb-2 " type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

    <table class="table table-bordered table-striped table-hover ">
        <tr>
            {% for col in table_head %}
                <th class="text-center">{{ col }}</th>
            {% endfor %}

        </tr>
        {% for item in items %}
            <tr>
                {% for i in range(length_item) %}
                    <td class="text-center">{{ item[i] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
