{% extends 'base.html' %}


{% block header %}
  {% block title %}사용자 등록{% endblock %}
{% endblock %}

{% block content %}

<div class="container" id="userAddForm">
    <form action="{{ url_for('user.register') }}"  method="post">
        <div class="form-group col-md-6">
            <label for="inputName">Your Name</label>
            <input type="text" class="form-control is-valid"  onclick="btnDisable()" id="inputUserName" name="username" placeholder="이름" , required>
        </div>

        <div class="form-group col-md-3">
            <label for="inputBirthday">Birthday</label>
            <input type="date" class="form-control" id="inputBirthday" onclick="btnDisable()" name="birthday" required>
        </div>
        <button type="button" id="checkUser" onclick="checkValid()" class="btn btn-outline-primary"> 중복 검사 </button>



        <div class="form-group col-md-6">
            <label for="inputEMail">E-Mail</label>
            <input type="text" class="form-control" id="inputEMail" name="email" placeholder="YourEmail@merong.com">
        </div>

        <div class="form-group col-md-6">
            <label for="inputGender">Gender</label>
            <select id="inputGender" class="custom-select" name="gender">
                <option value="N">N/A</option>
                <option value="F">Female</option>
                <option value="M">Male</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputTel">Tel</label>
            <input type="text" class="form-control" id="inputTel" name="tel" placeholder="010-1234-5678" required>
        </div>


        <div class="form-group col-md-4">

            <label class="custom-file-label" for="inputFile">Choose File..</label>
            <input type="file" class="custom-file-input" id="inputFile" name="picture">
        </div>


        <button id="signUpBtn" type="submit" class="btn btn-outline-primary" disabled>ADD User!</button>
    </form>

</div>

{% endblock %}

{% block script %}
    <script>
    function btnDisable() {
        document.getElementById('signUpBtn').disabled = true
    }

    function checkValid() {
        let checkDuplicateUser = true;
        let signupBtn = document.getElementById('signUpBtn');
        let userName = document.getElementById('inputUserName');
        let birthday = document.getElementById('inputBirthday');

        if (userName.value == '' || birthday == '') {
            alert('이름과 생년월일을 입력하세요');
        } else {
            const jsonData = {
                username: userName.value,
                birthday: birthday.value
            };
            console.log(userName.value, birthday.value)
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const result = JSON.parse(xhr.responseText);
                    console.log(xhr.responseText);
                    if (result.existence === "false") {
                        console.log('User 등록 가능');
                        alert('등록 가능한 사용자 정보입니다.');
                        checkDuplicateUser = true;
                    } else {
                        console.log('이미 등록된 사용자입니다.');
                        alert('사용불가');
                        checkDuplicateUser = false;
                    }
                    signupBtn.disabled = !checkDuplicateUser;
                }
            }
            xhr.open('post', '{{ url_for('user.check_valid') }}', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(jsonData));
        }
        }
    </script>
{% endblock %}