{% extends 'base.html' %}


{% block header %}
  {% block title %}도서 목록 조회{% endblock %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="form-row justify-content-md-start">
        <form class="form-inline align-self-center" action="/" method="post">
            <div class=" form-group ">
                <label>Book Name</label>
                <input class="form-control col-auto" name="book_name" type="search" aria-label="Search" placeholder="Enter your query" />
                <input class="btn btn-primary mb-2" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th> # </th>
        <th class="text-center">
            Extra small<br>
            <small>&lt;576px</small>
        </th>
        <th class="text-center">
            Small<br>
            <small>≥576px</small>
        </th>
        <th class="text-center">
            Medium<br>
            <small>≥768px</small>
        </th>
        <th class="text-center">
            Large<br>
            <small>≥992px</small>
        </th>
        <th class="text-center">
            Extra large<br>
            <small>≥1200px</small>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="text-nowrap" scope="row">Max container width</th>
        <td>None (auto)</td>
        <td>540px</td>
        <td>720px</td>
        <td>960px</td>
        <td>1140px</td>
    </tr>
    <tr>
        <th class="text-nowrap" scope="row">Class prefix</th>
        <td><code>.col-</code></td>
        <td><code>.col-sm-</code></td>
        <td><code>.col-md-</code></td>
        <td><code>.col-lg-</code></td>
        <td><code>.col-xl-</code></td>
    </tr>
    <tr>
        <th class="text-nowrap" scope="row"># of columns</th>
        <td colspan="5">12</td>
    </tr>
    <tr>
        <th class="text-nowrap" scope="row">Gutter width</th>
        <td colspan="5">30px (15px on each side of a column)</td>
    </tr>
    <tr>
        <th class="text-nowrap" scope="row">Nestable</th>
        <td colspan="5">Yes</td>
    </tr>
    <tr>
        <th class="text-nowrap" scope="row">Column ordering</th>
        <td colspan="5">Yes</td>
    </tr>
    </tbody>
</table>


{% endblock %}
