{% extends 'base.html' %}


{% block header %}
  {% block title %}도서 대출 관리 시스템{% endblock %}
{% endblock %}

{% block content %}

<div class="container">

<div class="card jumbotron">
  <h1 class="display-4">도서 대출 관리 시스템</h1>
  <p class="lead">도서와 회원 정보를 등록 후, 등록된 회원이 도서를 대여할 수 있는 웹 어플리케이션</p>
  <hr class="my-4"/>
    <p class="lead">동의대학교 컴퓨터소프트웨어공학과 4학년 이태용 제작</p>
    <hr class="my-4"/>
    <a class="btn btn-primary btn-lg float-left" href="https://github.com/yongjjang/Portfolio" role="button">Author's Github</a>

</div>

{% endblock %}
